<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
 
  <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
      <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
      <property name="prefix" value="/jsp/"/>
      <property name="suffix" value=".jsp"/>
  </bean>   
  <bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean" 
        destroy-method="close">
       <property name="jndiName" value="java:comp/env/jdbc/PedidosDS"/> 
       <!-- <property name="jndiName" value="jdbc/PedidosDS"/> -->
  </bean>
  
  <bean id="dao.UsersDao" class="com.dotech.tdm.dao.impl.UsersDao">
        <property name="dataSource" ref="dataSource" />        
  </bean>
  
  <bean id="dao.TasksDao" class="com.dotech.tdm.dao.impl.TasksDao">
        <property name="dataSource" ref="dataSource" />        
  </bean>

  <bean id="service.UsersService" class="com.dotech.tdm.service.impl.UsersService">
        <property name="dao" ref="dao.UsersDao"/>        
  </bean>
  
  <bean id="service.TasksService" class="com.dotech.tdm.service.impl.TasksService">
        <property name="dao" ref="dao.TasksDao"/>        
  </bean>
  
  
  <bean name="/users/*" class="com.dotech.tdm.web.controllers.UsersController">
  <property name="service" ref="service.UsersService"/>
   <property name="commandClass">
	   <value type="java.lang.Class">
	    com.dotech.tdm.domain.User
	    </value>
   </property>    
  </bean>  
  
  <bean name="/tasks/*" class="com.dotech.tdm.web.controllers.TasksController">
  <property name="service" ref="service.TasksService"/>
   <property name="commandClass">
	   <value type="java.lang.Class">
	    com.dotech.tdm.domain.Task
	    </value>
   </property>    
  </bean>
  
</beans>