<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
 
  <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
      <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
      <property name="prefix" value="/jsp/"/>
      <property name="suffix" value=".jsp"/>
  </bean>   
  <bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean" 
        destroy-method="close">
       <property name="jndiName" value="java:comp/env/jdbc/PedidosDS"/> 
       <!-- <property name="jndiName" value="jdbc/PedidosDS"/> -->
  </bean>
  
  <bean id="dao.UsersDao" class="com.dotech.tdm.dao.impl.UsersDao">
        <property name="dataSource" ref="dataSource" />        
  </bean>
  
  <bean id="dao.StudentsDao" class="com.dotech.tdm.dao.impl.StudentsDao">
        <property name="dataSource" ref="dataSource" />        
  </bean>
  
  <bean id="dao.AssociationsDao" class="com.dotech.tdm.dao.impl.AssociationsDao">
        <property name="dataSource" ref="dataSource" />        
  </bean>
  
  <bean id="dao.ProjectsDao" class="com.dotech.tdm.dao.impl.ProjectsDao">
        <property name="dataSource" ref="dataSource" />        
  </bean>

  <bean id="service.UsersService" class="com.dotech.tdm.service.impl.UsersService">
        <property name="dao" ref="dao.UsersDao"/>        
  </bean>
  
  <bean id="service.StudentsService" class="com.dotech.tdm.service.impl.StudentsService">
        <property name="dao" ref="dao.StudentsDao"/>        
  </bean>
  
   <bean id="service.AssociationsService" class="com.dotech.tdm.service.impl.AssociationsService">
        <property name="dao" ref="dao.AssociationsDao"/>        
  </bean>
  
  <bean id="service.ProjectsService" class="com.dotech.tdm.service.impl.ProjectsService">
        <property name="dao" ref="dao.ProjectsDao"/>        
  </bean>
 
  <bean name="/users/*" class="com.dotech.tdm.web.controllers.UsersController">
  <property name="service" ref="service.UsersService"/>
   <property name="commandClass">
	   <value type="java.lang.Class">
	    com.dotech.tdm.domain.User
	    </value>
   </property>    
  </bean>  
  
  <bean name="/students/*" class="com.dotech.tdm.web.controllers.StudentsController">
  <property name="service" ref="service.StudentsService"/>
   <property name="commandClass">
	   <value type="java.lang.Class">
	    com.dotech.tdm.domain.Student
	    </value>
   </property>    
  </bean>
  
  <bean name="/associations/*" class="com.dotech.tdm.web.controllers.AssociationsController">
  <property name="service" ref="service.AssociationsService"/>
   <property name="commandClass">
	   <value type="java.lang.Class">
	    com.dotech.tdm.domain.Association
	    </value>
   </property>    
  </bean>
  
  
  <bean name="/projects/*" class="com.dotech.tdm.web.controllers.ProjectsController">
  <property name="service" ref="service.ProjectsService"/>
   <property name="commandClass">
	   <value type="java.lang.Class">
	    com.dotech.tdm.domain.Project
	    </value>
   </property>    
  </bean>  
  
</beans>